.icon{
    width: 100px;
    height: 100px;
}

.icon2{
    width: 70px;
    height: 70px;
}

.img1{
    height: 100vh;
    width: 600px;
}

.payhere{
    height: 80px;
    width: 400px;
}

.img3{
    height: 400px;
    width: 800px;
}

.img4{
    height: 350px;
    width: 400px;
}

.image3{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}